:root {
  --background-color: #000000;
  --header-text: #969696;
  --footer-color: #41a6af;
  --footer-text: #0a0000;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* #root * {
  border: 1px solid red;
}

#root > * {
  border: 1px solid blue;
} */

header {
  min-height: 10vh;
  min-width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  color: var(--header-text);
}

header > h1 {
  font-size: 2.48em;
  font-weight: bold;
  transform: scale(1.5);
}

main {
  max-width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px 40px;
  margin-top: 30px;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  background-color: var(--footer-color);
  color: var(--footer-text);
}
